header {
  background-color: white;
  position: relative;
  z-index: 98;
}

header .lang-icon {
  width: 100%;
  background-color: #2b272f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .lang-icon .lang-icon-container {
  text-align: center;
  width: 50px;
  height: 36px;
  border-radius: 5px;
  margin-right: 50px;
  cursor: pointer;
}

header .lang-icon .icon-container:hover {
  background-color: black;
}

header .desktop-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 77%;
  height: 80px;
  margin: 0 auto;
}

header .desktop-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

header .desktop-nav nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .desktop-nav nav ul li {
  list-style: none;
}

header .desktop-nav nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #837d87;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

header .desktop-nav nav ul li a:hover {
  color: #2b272f;
}

header .desktop-nav nav .view-plans {
  width: 230px;
  height: 40px;
  margin-left: 15px;
  color: #2b272f;
  background-color: white;
  border: 2px solid #2b272f;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.1px;
  cursor: pointer;
  outline: none;
}

header .desktop-nav nav .view-plans:hover {
  color: #fafafa;
  background-color: #2b272f;
}

header .desktop-nav .menu {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 1024px) {
  header .desktop-nav {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  header {
    position: fixed;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .desktop-nav nav {
    display: none;
  }
  header .desktop-nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mobile-nav {
    width: 100%;
    height: 95%;
    display: none;
    position: fixed;
    z-index: 99;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2b272f;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  header .mobile-nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  header .mobile-nav nav ul {
    padding-left: 0;
  }
  header .mobile-nav nav ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 40px;
  }
  header .mobile-nav nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.1px;
  }
  header .mobile-nav nav .view-plans {
    width: 320px;
    height: 50px;
    color: #fafafa;
    background-color: #2b272f;
    border: 2px solid #fafafa;
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin-bottom: 50px;
    outline: none;
  }
  header .mobile-nav .bg-pattern {
    width: 100%;
    height: 350px;
    background-color: #2b272f;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.hero {
  height: 600px;
  background-color: #2d2640;
  position: relative;
}

.hero .bg-desktop-top {
  width: 28%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.hero .top-row {
  width: 77%;
  height: 105px;
  margin: auto;
}

.hero .top-row .bottom-line {
  width: 150px;
  height: 105px;
  border-bottom: 1px solid white;
}

.hero .hero-container {
  width: 77%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-container .details {
  position: relative;
  width: 50%;
}

.hero .hero-container .details .bg-mobile-top {
  display: none;
}

.hero .hero-container .details h1 {
  width: 95%;
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 70px;
  font-weight: 400;
  line-height: 0.9;
  margin-top: 65px;
  margin-bottom: 28px;
}

.hero .hero-container .details p {
  position: relative;
  z-index: 4;
  width: 97%;
  font-size: 16px;
  color: #fafafa;
  line-height: 1.7;
}

.hero .hero-container .details button {
  position: relative;
  z-index: 5;
  width: 148px;
  height: 40px;
  color: #fafafa;
  background-color: #2d2640;
  border: 2px solid #fafafa;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: 50px;
  outline: none;
}

.hero .hero-container .details button:hover {
  background-color: #fafafa;
  color: #2b272f;
  font-weight: 700;
}

.hero .hero-container .details .bg-desktop-bottom {
  width: 33%;
  position: absolute;
  top: 350px;
  left: -165px;
  z-index: 3;
}

.hero .hero-container .bg-mobile-bottom {
  display: none;
}

.hero .hero-container .family-image {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .hero .top-row {
    width: 100%;
  }
  .hero .hero-container {
    width: 90%;
  }
  .hero .hero-container .details h1 {
    font-size: 60px;
  }
  .hero .hero-container .details .bg-desktop-bottom {
    width: 30%;
    position: absolute;
    top: 350px;
    left: -50px;
    z-index: 3;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    height: auto;
    background-color: #2d2640;
  }
  .hero .top-row {
    height: 0;
  }
  .hero .top-row .bottom-line {
    display: none;
  }
  .hero .top-row .bg-desktop-top {
    width: 35%;
  }
  .hero .hero-container {
    width: 77%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-container .details {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-container .details h1 {
    text-align: center;
  }
  .hero .hero-container .details p {
    text-align: center;
  }
  .hero .hero-container .details .bg-desktop-bottom {
    width: 35%;
    position: absolute;
    top: 180px;
    left: -120px;
    z-index: 3;
  }
  .hero .hero-container .family-image {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: auto;
    background-color: #2d2640;
  }
  .hero .bg-desktop-top {
    width: 35%;
    display: none;
  }
  .hero .top-row {
    height: 0;
  }
  .hero .top-row .bottom-line {
    display: none;
  }
  .hero .hero-container {
    width: 100%;
  }
  .hero .hero-container .bg-mobile-bottom {
    width: 28%;
    display: block;
    position: absolute;
    top: 765px;
    right: 0px;
  }
  .hero .hero-container .details {
    width: 92%;
  }
  .hero .hero-container .details .bg-mobile-top {
    width: 45%;
    position: absolute;
    top: 0px;
    left: -20px;
    z-index: 0;
    display: block;
  }
  .hero .hero-container .details h1 {
    font-size: 11.8vw;
    margin-top: 80px;
  }
  .hero .hero-container .details p {
    text-align: center;
  }
  .hero .hero-container .details .bg-desktop-bottom {
    width: 20%;
    position: absolute;
    top: 530px;
    left: 0;
    z-index: 3;
    display: none;
  }
  .hero .hero-container .family-image {
    width: 100%;
  }
}

.different {
  background-color: white;
  padding-bottom: 150px;
}

.different .top-row {
  width: 77%;
  height: 300px;
  margin: auto;
}

.different .top-row .bottom-line {
  width: 150px;
  height: 300px;
  border-bottom: 1px solid #837d87;
}

.different .different-container {
  width: 77%;
  margin: auto;
}

.different .different-container h2 {
  font-size: 70px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #2b272f;
  margin-top: 50px;
  margin-bottom: 78px;
}

.different .different-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.different .different-container .cards .card {
  width: 32%;
}

.different .different-container .cards .card h3 {
  font-family: "DM Serif Display", serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.different .different-container .cards .card p {
  color: #837d87;
  line-height: 1.6;
}

.different .banner {
  position: relative;
  width: 77%;
  height: 250px;
  margin: 150px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2d2640;
}

.different .banner h2 {
  width: 470px;
  font-family: "DM Serif Display", serif;
  font-size: 54px;
  font-weight: 400;
  color: #fafafa;
  margin-left: 75px;
  line-height: 1.1;
}

.different .banner .work {
  position: relative;
  z-index: 15;
  width: 160px;
  height: 40px;
  color: #fafafa;
  background-color: transparent;
  border: 2px solid #fafafa;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.1px;
  cursor: pointer;
  margin-top: 55px;
  margin-bottom: 50px;
  margin-right: 75px;
  outline: none;
}

.different .banner .work:hover {
  background-color: #fafafa;
  color: #2b272f;
  font-weight: 700;
}

.different .banner .desktop-bg {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
}

.different .banner .mobile-bg {
  display: none;
}

@media screen and (max-width: 1024px) {
  .different .top-row {
    width: 90%;
    height: 200px;
  }
  .different .top-row .bottom-line {
    height: 200px;
  }
  .different .different-container {
    width: 90%;
  }
  .different .banner {
    width: 90%;
  }
  .different .banner h2 {
    margin-left: 60px;
  }
  .different .banner .work {
    margin-right: 60px;
  }
}

@media screen and (max-width: 900px) {
  .different {
    padding-bottom: 50px;
  }
  .different .top-row {
    width: 77%;
    height: 200px;
  }
  .different .top-row .bottom-line {
    width: 250px;
    margin: auto;
  }
  .different .different-container {
    width: 77%;
    margin: auto;
  }
  .different .different-container h2 {
    text-align: center;
  }
  .different .different-container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .different .different-container .cards .card {
    width: 77%;
    text-align: center;
    margin: 25px 0;
  }
  .different .banner {
    position: relative;
    width: 70%;
    height: auto;
    margin: 100px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .different .banner h2 {
    position: relative;
    z-index: 21;
    width: 80%;
    font-size: 50px;
    margin: 60px auto 40px;
    text-align: center;
  }
  .different .banner .work {
    margin: 20px 0 50px;
  }
  .different .banner .desktop-bg {
    display: none;
  }
  .different .banner .mobile-bg {
    display: block;
    position: absolute;
    z-index: 12;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .different .top-row {
    height: 150px;
  }
  .different .top-row .bottom-line {
    height: 150px;
    width: 150px;
  }
  .different .different-container {
    width: 92%;
  }
  .different .different-container h2 {
    font-size: 46px;
  }
  .different .different-container .cards .card {
    width: 92%;
  }
  .different .banner {
    width: 90%;
    height: auto;
    margin: 100px auto;
  }
  .different .banner h2 {
    width: 300px;
    font-size: 38px;
  }
  .different .banner .work {
    margin: 0px 0 70px;
  }
  .different .banner .desktop-bg {
    display: none;
  }
  .different .banner .mobile-bg {
    position: absolute;
    z-index: 12;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

footer {
  position: relative;
  background-color: #fafafa;
}

footer .footer-bg {
  position: absolute;
  z-index: 16;
  top: 0;
  left: 0;
}

footer .footer-bg-mobile {
  display: none;
}

footer .header {
  position: relative;
  z-index: 20;
  width: 77%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 63px 0 31px;
}

footer .header .social-icons {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .header .social-icons .facebook {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-facebook.svg");
}

footer .header .social-icons .facebook:hover {
  background-image: url("../images/black-icon-facebook.svg");
}

footer .header .social-icons .twitter {
  width: 24px;
  height: 24px;
  margin-top: 6px;
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
}

footer .header .social-icons .twitter:hover {
  margin-top: 6px;
  background-image: url("../images/black-icon-twitter.svg");
  background-repeat: no-repeat;
}

footer .header .social-icons .pinterest {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-pinterest.svg");
}

footer .header .social-icons .pinterest:hover {
  background-image: url("../images/black-icon-pinterest.svg");
}

footer .header .social-icons .instagram {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-instagram.svg");
}

footer .header .social-icons .instagram:hover {
  background-image: url("../images/black-icon-instagram.svg");
}

footer .lists-container {
  position: relative;
  z-index: 18;
  width: 77%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .lists-container .list {
  width: 300px;
}

footer .lists-container .list .title {
  color: #837d87;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}

footer .lists-container .list ul {
  padding: 0;
}

footer .lists-container .list ul li {
  list-style: none;
  margin: 16px 0;
}

footer .lists-container .list ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2b272f;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

footer .lists-container .list ul li a:hover {
  text-decoration: underline;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  footer .header {
    width: 90%;
  }
  footer .lists-container {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  footer .list {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  footer .footer-bg {
    display: none;
  }
  footer .footer-bg-mobile {
    display: block;
    position: absolute;
    z-index: 19;
    top: 0;
    left: 0;
    width: 100%;
  }
  footer .header {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .header .social-icons {
    margin-top: 25px;
  }
  footer .lists-container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .lists-container .list {
    width: 100%;
    margin-bottom: 20px;
  }
}

body {
  font-family: "Karla", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */